body {
    background-color:  rgb(224, 208, 208);;
}
.image1 {
    background-image: url("../images.about/social-group-african-american-africans-community-youth-african.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.mission h1{
    color: blue;
    text-align: center;
}
.mission {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
.vision h1 {
    color: blue;
    text-align: center;
}
.vision p {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
#column1 {
    background-image: url("../images.about/11_02_19-eban-alumni-awards-winners-001.jpg");
    height: 200px;
    background-size: cover;
}
#column2 {
    background-image: url("../images.about/photo-1584980959228-79409574bef2.jpeg");
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
}
#column3 {
    background-image: url("../images.about/471da2fbcc742ae7f5e5030e5e6a126c.jpg");
    background-size: cover;
    height: 200px;
    background-repeat: no-repeat;
}
.row .col-md-3 {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.story {
  display: flex;
  justify-content: space-around;
 } 
 #story{
    padding-bottom: 50px;
    padding-left: 80px;
}
.donors .col-md-3 img {
    border-radius: 50%;
}   