body {
    background-color:  rgb(224, 208, 208);;
}
.image1 {
    background-image: url("../images.about/social-group-african-american-africans-community-youth-african.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mission h1{
    color: blue;
    text-align: center;
}
.mission {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}
