body {
    background-color: rgb(224, 208, 208);
}
header{
    background-size: cover;
    background-position: center;
}
a{
    font-size:14px;
    text-transform: uppercase;
}
.navbar{
    background: #262626;

}
.navbar:after{
    content: '';
    clear: both;
    display: block;
}
.navbar ul{
    list-style: none;
    margin: 0;

}
.navbar ul li{
    float: left;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    display: block;
}
.navbar ul li:hover a{
    background: #34495a;
}
.navbar ul ul{
    position:absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;

}
.navbar ul li:hover ul{
    display: block;
}
.navbar ul ul li:hover a{
    background: #262626;
}
.navbar ul ul li{
    position: relative;
}
.navbar ul ul li{
    top: 0;
    /* left: 100%; */

}
.navbar ul ul ul li:hover a{
    background: #34495a;
}
/* .image1 {
    width: 1000px;
    text-align: center;
}
.image2 {
    width: 1000px;
    text-align: center;
}  */
.container{display:flex;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa:hover {
      opacity: 0.7;
  }
  footer .contact {
      background-color: black;
      text-align: center;
      padding-top: 40px;
      color: white;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-google {
    background: #DD4B39;
    color: white;
  }
  .fa-linkedin {
    background: #007BB5;
    color: white;
  }
  .fa-youtube {
    background: #BB0000;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
  .brian {
    display: block;
    margin-left: auto;
    margin-right: auto;

  }